/* ****** // COMMON // ****** */
/* Reset Styles */
* {
  text-decoration: none;
  overflow: visible;
  list-style: none !important;
  box-sizing: border-box;
}

img {
  user-select: none;
}

/* Commons */
body {
  background-color: var(--white);
  /*  max-width: 1440px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited,
a:active {
  outline: none !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  color: var(--lightred);
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
  border-bottom: 1px solid var(--lightred);
  cursor: pointer;
}

button a:link,
button a:visited {
  color: var(--white);
  cursor: pointer;
  z-index: 100;
}
a:hover {
  color: var(--blue);
}

img a {
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  min-height: calc(100vh -66px);
}
