/* Full Body Header */
header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  max-width: 1240px;
  min-width: 140px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  height: fit-content;
  padding: 40px 0px 0 0px;
}

/* LOGO */
.logo img {
  position: relative;
  min-width: 145px;
  height: 68px;
  width: 210px;
}

@media only screen and (min-width: 768px) {
  header {
    width: 1240px;
  }
}

@media only screen and (max-width: 425px) {
  header {
    max-width: 336px !important;
    padding-top: 20px;
  }
  /* LOGO */
  .logo img {
    max-width: 145px !important;
    height: 47px;
  }
}
